.container__game_page {
  min-height: calc(100vh - 3.8rem);
  background-image: url(/img/bgWinter.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container__game_page h1 {
  margin: 2%;
  margin-bottom: 0;
  margin-left: 15%;
  width: 100%;
}

.container__game_page a {
  text-decoration: none;
  color: #4B0082;
}

.dino-mino__gamepage {
  max-width: 300px;
  align-self: flex-end;
}

.game_menu {
  width: 35rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(204, 254, 255, 0.7);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.game_menu img {
  max-width: 12rem;
}

.game_page--dino {
  margin-top: -80%;
}

.game_page--h2 {
  font-size: 1.5rem;
}

.game_menu img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

@media (max-width: 500px) {
  .game_menu img {
    max-width: 8rem;
  }

  .dino-mino__gamepage {
    max-width: 200px;
    align-self: flex-end;
  }

  .container__game_page h1 {
    font-size: 2.5rem;
  }
}
