.how_to_menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.how_to_menu h1 {
  width: 100%;
}


.how_to_menu--img {
  max-width: 350px;
  border-radius: 3rem;
}

.activities_options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 55%;
}

.activities_options-one {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.activities_options-img {
  max-width: 80px;
}
