header {
  margin: 0;
  height: 3.5rem;
  background-color: rgb(204, 254, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-menu_box {
  display: flex;
}

.link_header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  margin-right: 35px;
}

.link_header a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 1rem;
}

.mid_section_header {
  display: flex;
  gap: 1rem;
  transform: translate(-25%);
}

.link-menu_home img,
.link-menu_home a {
  height: 90%;
  margin: auto;
  margin-left: 35px;
  margin-right: 35px;
}

header img,
header a {
  height: 90%;
  margin: auto;

}

a .link-menu {
  padding-top: 3px;
}

header img:hover,
header a:hover {
  transform: scale(1.2);
  cursor: pointer;
}
