.days-box {
  padding: 20px;
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.day-box:hover {
  font-size: 2.5rem;
  cursor: pointer;
}

.day-box {
  border-radius: 10px;
  margin: 0;
  border: 2px solid #fff;
}

.day-box p {
  margin: 3px;
  padding: 5px;
  transition: 0.4s ease;
}

.monday {
  background-color: #fdd426;
}

.tuesday {
  background-color: #efe720;
}

.wednesday {
  background-color: #eb4f74;
}

.thursday {
  background-color: #f7eacd;
}

.friday {
  background-color: #a8e0b8;
}

.saturday {
  background-color: #ced75b;
}

.sunday {
  background-color: #ffc0f9;
}

.wrong-answer__day {
  animation: horizontal-shaking 300ms 5;
  background-color: #A8A8A8;
  color: #000;
  transition-duration: 2s;
  border-radius: 10px;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateX(5px)
  }

  50% {
    transform: translateX(-5px)
  }

  75% {
    transform: translateX(5px)
  }

  100% {
    transform: translateX(0)
  }
}

.right-answer__day {
  background-color: #00BFFF;
  color: #fff;
}
